/* i'm pretty sure that css was secretly designed by hitler to enact his revenge on the future generations.
 * that means when you specify a percentage height, it doesn't take up that percent of the screen like it should.
 * instead, it takes up that percentage of the height of the contents.
 * this makes sure that they take up a percentage of the screen instead.
 */
html, body{
	height: 100%;
	width: 100%;
	margin: 0;
}

.textbox {
	box-sizing: border-box;
	border: 1px solid gray;
	font: medium;
	font-family: monospace;
	overflow: auto;
}

#wrapper-top {
	box-sizing: border-box;
	border: 1px solid red;
	width: 100%;
	float: top;
}

#wrapper-bot {
	box-sizing: border-box;
	border: 1px solid red;
	height: 100%;
	width: 100%;
	float: bottom;
}

#editor {
	width: 50%;
	height: 100%;
	float: left;
}

#output {
	width: 50%;
	height: 100%;
	float: right;
	overflow: hidden;
}
